font pango:DejaVu Sans Mono 10

bindsym $mod+Return exec alacritty

default_border pixel 0
gaps inner 5px
gaps outer 1px

bindsym Mod1+Tab exec --no-startup-id rofi -modi combi -combi-modi window -show combi
bindsym Mod1+space exec --no-startup-id i3-dmenu-desktop

workspace 8 output DP-2
workspace 9 output DP-2 

for_window [class="Slack"] move container to workspace $ws8
# gmail
for_window [instance="crx_fmgjjmmmlfnkbppncabfkddbjimcfncm"] move container to workspace $ws8
for_window [class="Spotify"] move container to workspace $ws9
###

exec_always --no-startup-id $HOME/.config/i3/scripts/startup.sh &> /tmp/i3-startup.log
### screen
#exec_always --no-startup-id "$HOME/.screenlayout/dual.sh; sleep 1"
# needs a bit of a delay so that the screen has time to set the proper resolution
#exec_always --no-startup-id "hsetroot -solid lightblue"

#exec_always --no-startup-id "killall picom && DISPLAY=':0' picom -b --config $HOME/.config/picom/picom.conf"
#exec_always --no-startup-id $HOME/.config/polybar/launch.sh

#exec slack
#exec spotify

#exec_always --no-startup-id sleep 2 && parcellite

focus_on_window_activation focus
