#font pango:NotoMono Nerd Font 12
#font pango:DejaVuSansM Nerd Font Mono, Regular 11
font pango:NotoSans NF, Regular 10px

client.focused           #4c7899 #006666 #f5f5f5 #2e9ef4   #285577
client.focused_tab_title #4c7899 #006666 #f5f5f5 #2e9ef4   #285577
client.focused_inactive  #333333 #003d3d #f5f5f5 #484e50   #5f676a
client.unfocused         #333333 #001414 #f5f5f5 #292d2e   #222222

for_window [all] title_window_icon padding 10px
focus_on_window_activation focus
default_border pixel 0
gaps inner 5px
gaps outer 1px

bindsym Mod1+Tab exec --no-startup-id rofi -modi combi -combi-modi window -show combi
bindsym Mod1+space exec --no-startup-id i3-dmenu-desktop
bindsym $mod+Return exec alacritty
bindsym $mod+greater move workspace to output next
bindsym Print --release exec --no-startup-id import ~/Pictures/screenshot-$(date +%s).png
# bindcode $mod+Tilde exec --no-startup-id "polybar-msg cmd toggle"
# bindcode $mod --release exec --no-startup-id "polybar-msg cmd toggle"

workspace 8 output DP-0
workspace 9 output DP-0 

for_window [class="Galculator"] floating enable
# for_window [class="PulseUI"] floating enable

for_window [class="Slack"] move container to workspace $ws8
# gmail
#for_window [instance="crx_fmgjjmmmlfnkbppncabfkddbjimcfncm"] move container to workspace $ws8
for_window [instance="crx_fmgjjmmmlfnkbppncabfkddbjimcfncm"] move container to workspace $ws8
###
for_window [class="Spotify"] move container to workspace $ws9
for_window [class="PulseUI"] move container to workspace $ws9

exec_always --no-startup-id $HOME/.config/i3/scripts/startup.sh &>> /tmp/i3-startup.log

exec slack
exec spotify
exec /opt/pulsesecure/bin/pulseUI
